body {
    background-color: #FFF;

    max-width: 1200px;
    margin: 0 auto !important;
    float: none !important;
    /* font-family: 'Helvetica', sans-serif; */
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

body:after {
    content: '';
    display: block;
    clear: both;
}
            
a {
    color: #fff;
    text-decoration: none;
}
        
a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor:pointer;
}

.profile-picture {
    width: 450px;
    height: 360px;
    background-image: url(images/propic1-2.jpg);
    background-size: cover;
    float: left;
}

.social-icon {
    /* background-color: black; */
    /* fill: white; */
    padding-left: 7px;
    padding-right: 7px;
    fill: black; /*currentColor*/
    width: 20px;
    height: 20px;
    vertical-align: middle;
    overflow: hidden;
    -webkit-transition: fill 200ms ease-in-out;
    -moz-transition: fill 200ms ease-in-out;
    -ms-transition: fill 200ms ease-in-out;
    -o-transition: fill 200ms ease-in-out;
    transition: fill 200ms ease-in-out;
}
/* to hover icon */
.social-icon:hover {
    fill: rgba(81, 180, 88, 0.767);;
    cursor: pointer;
}

.name {
    /* font-family: Avenir,Lato,sans-serif; */
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0px;
    font-size: 25px;
    padding-left: 70px;
    padding-bottom: 4vh;
}

.header {
    margin-top: 10vh;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 5vh;
    text-align: center;
}

.block-bio {
    background-color: rgba(81, 180, 88, 0.767);
    overflow: hidden; /* keeps float in box */
    /* border: 3px solid blue;*/
    /* margin-top: 9vh; */
    margin-left: 3.5vw;
    font-size: 15px;
    text-align: justify;
    height: 360px;
    color: white;
    /*min height size of browser*/
    /* float: left; */
    line-height: 32px;
    letter-spacing: 1px;
    margin-right: 5vw; /* 9vw;*/
}

.desc {
    margin-top: 20px;
    display: inline-block;
    text-align: left;
    padding-left: 70px;
}

.bio {
    margin-left: 450px;
    padding-right: 5%;
    padding-top: 70px;
    text-align: left;
}

.block-project {
    overflow: hidden; /* keeps float in box */
    /* border: 3px solid blue; */
    margin-top: 21vh;
    margin-left: 7vh;
    font-size: 15px;
    text-align: left;
    color: #000;
    /* float: left; */
}

ul.is-what {
    position: relative;
    padding: 0;
    margin: 0;
    top: 0px;
    z-index: 120;
    transition: top 1s;
    -moz-transition: top 1s;
    -webkit-transition: top 1s;
    -o-transition: top 1s;
}

li.is-this {
    list-style-type: none;
    color: #fff;
}

.smooth {
    color: #fff;
    margin: 0;
}

#is-out-of-box {
    font-weight: bold;
    transition: top 1s;
    -moz-transition: top 1s;
    -webkit-transition: top 1s;
    -o-transition: top 1s;
    position: absolute;
    width: 60px;
    text-align: right;
    color: rgb(90, 90, 90) !important;
    z-index: 100;
}

/** PHOTO PAGE **/

.photo-name {
    /* font-family: Avenir,Lato,sans-serif; */
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0px;
    font-size: 15px;
    margin-bottom: 5vh;
    text-align: center;
    float:center;
    color: #000;
}

.block-photo {
    /* background-color: rgba(81, 180, 88, 0.767); */
    font-family: 'Karla', sans-serif;
    overflow: hidden; /* keeps float in box */
    margin-left: 6.5vw;
    font-size: 13px;
    text-align: justify;
    color: #000;
    /*min height size of browser*/
    /* float: left; */
    line-height: 32px;
    letter-spacing: 0px;
    margin-right: 6.5vw; /* 9vw;*/
    padding-bottom: 10px;
}