body {
    background-color: #FFF;
    max-width: 1200px;
    margin: 0 auto !important;
    float: none !important;
    /* font-family: 'Helvetica', sans-serif; */
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

body:after {
    content: '';
    display: block;
    clear: both;
}

footer {
    font-family: sans-serif;
    font-size: 8px;
    position: fixed;
    bottom: 3px;
}
            
a {
    color: #fff;
    text-decoration: none;
}

.a1 {
    color: #000;
    text-decoration: none;
}

.a1:hover {
    color: rgba(81, 180, 88, 0.767);
    font-weight: bold;
    cursor: pointer;
}
        
a:hover {
    color: rgba(102, 223, 110, 0.767);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    cursor:pointer;
}

.profile-picture {
    width: 450px;
    height: 360px;
    background-color: white;
    background-image: url(images/propic1-2.jpg);
    background-size: cover;
    float: left;
}

.social-icon {
    /* background-color: black; */
    /* fill: white; */
    padding-left: 7px;
    padding-right: 7px;
    fill: black; /*currentColor*/
    width: 20px;
    height: 20px;
    vertical-align: middle;
    overflow: hidden;
    -webkit-transition: fill 200ms ease-in-out;
    -moz-transition: fill 200ms ease-in-out;
    -ms-transition: fill 200ms ease-in-out;
    -o-transition: fill 200ms ease-in-out;
    transition: fill 200ms ease-in-out;
}
/* to hover icon */
.social-icon:hover {
    fill: rgba(81, 180, 88, 0.767);
    cursor: pointer;
}

.name {
    /* font-family: Avenir,Lato,sans-serif; */
    font-family: sans-serif;
    font-weight: bolder;
    /* font-family: 'Karla', sans-serif; */
    letter-spacing: 0px;
    font-size: 30px;
    padding-left: 75px;
    padding-bottom: 4vh;
}

.header {
    margin-top: 10vh;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 5vh;
    text-align: center;
}

.block-bio {
    background-color: rgba(92, 156, 142, 0.979);
    overflow: hidden; /* keeps float in box */
    /* border: 3px solid blue;*/
    /* margin-top: 9vh; */
    margin-left: 5.5vw;
    font-size: 14px;
    text-align: justify;
    height: 360px;
    color: rgb(233, 233, 233);
    /*min height size of browser*/
    /* float: left; */
    line-height: 32px;
    letter-spacing: 1px;
    margin-right: 5.5vw; /* 9vw;*/
}

.desc {
    /* font-family: 'Lato', sans-serif; */
    letter-spacing: 0px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 20px;
    display: inline-block;
    text-align: left;
    padding-left: 75px;
}

.bio {
    margin-left: 450px;
    padding-right: 5%;
    padding-top: 70px;
    text-align: left;
}

.engineer-block {
    margin-left: 450px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40px;
    text-align: left;
}

.block-project {
    overflow: hidden; /* keeps float in box */
    /* border: 3px solid blue; */
    margin-top: 21vh;
    margin-left: 7vh;
    font-size: 15px;
    text-align: left;
    color: #000;
    /* float: left; */
}

ul.is-what {
    position: relative;
    padding: 0;
    margin: 0;
    top: 0px;
    z-index: 120;
    transition: top 0.7s;
    -moz-transition: top 0.7s;
    -webkit-transition: top 0.7s;
    -o-transition: top 0.7s;
}

li.i-am {
    list-style-type: none;
    color: #fff;
}

.smooth {
    color: #fff;
    margin: 0;
}

#is-out-of-box {
    font-size: 15px;
    font-weight: bold;
    transition: top 550ms;
    -moz-transition: top 550ms;
    -webkit-transition: top 550ms;
    -o-transition: top 550ms;
    position: absolute;
    width: 60px;
    text-align: right;
    color: rgb(255, 255, 255) !important;
    z-index: 100;
}

/** ENGINEER PAGE **/
.trans {
    -webkit-transition: opacity 70ms linear; 
    -webkit-transition: all 70ms ease-in-out; 
    -moz-transition: all 70ms ease-in-out; 
    -o-transition: all 70ms ease-in-out;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

/** PHOTO PAGE **/

.photo-name {
    /* font-family: Avenir,Lato,sans-serif; */
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0px;
    font-size: 15px;
    margin-bottom: 5vh;
    text-align: center;
    float:center;
    color: #000;
}

.block-photo {
    /* background-color: rgba(81, 180, 88, 0.767); */
    font-family: 'Karla', sans-serif;
    overflow: hidden; /* keeps float in box */
    margin-left: 6.5vw;
    font-size: 13px;
    text-align: justify;
    color: #000;
    /*min height size of browser*/
    /* float: left; */
    line-height: 32px;
    letter-spacing: 0px;
    margin-right: 6.5vw; /* 9vw;*/
    padding-bottom: 10px;
}

/** SPOTIFY SLIDER **/

.slide-down {
    animation: slide-down 0.7s forwards;
    -webkit-animation: slide-down 0.7s forwards;
}

@keyframes slide-down {
    0% { transform: translateY(0%); }
    100% { transform: translateY(170%); }
}

@-webkit-keyframes slide-down {
    0% { -webkit-transform: translateY(0%); }
    100% { -webkit-transform: translateY(170%); }
}


.slide-up {
    animation: slide-up 0.5s forwards;
    -webkit-animation: slide-up 0.5s forwards;
}

@keyframes slide-up {
    0% { transform: translateY(0%); }
    100% { transform: translateY(-200%); }
}

@-webkit-keyframes slide-up {
    0% { -webkit-transform: translateY(0%); }
    100% { -webkit-transform: translateY(-200%); }
}

.color-transition {
    background-color: rgb(0, 0, 0);
    -webkit-transition: background-color 700ms ease-out;
    -moz-transition: background-color 700ms ease-out;
    -o-transition: background-color 700ms ease-out;
    transition: background-color 700ms ease-out;
}

/**color transition for map**/
.color-transition-map {
    background-color: rgb(229, 227, 223);
    -webkit-transition: background-color 700ms ease-out;
    -moz-transition: background-color 700ms ease-out;
    -o-transition: background-color 700ms ease-out;
    transition: background-color 700ms ease-out;
}

/** RESUME BUTTON **/

.btn{
    font-weight: bold;
    display:block;
    width:100px;
    border:2px solid #ffffff;
    color: #ffffff;
    text-align:center;
    margin-top:30px;
    letter-spacing:4px;
    font-size:12px;
    -webkit-transition:all .3s ease;
    transition:all .3s ease;
}

.btn:hover{
    background-color:#3c3c3c;
    color:#fff
}
